<section id="services" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Services</h2>
            <div class="heading-line"></div>
            <p>We have been providing our services wherein you need not to bother upon small things.In our services 
              we provide Catering,Phtography ,Tent House , Nigth DJ, Pandit ,Wedding Cakes, Honeymoon , Florist ,etc.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-service" class="service carousel slide">

            <!-- slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>CATERING</h4>
                      <p>We have been providing our services wherein you need not to bother upon small things.In our services 
                          we provide Catering,Phtography ,Tent House , Nigth DJ, Pandit ,Wedding Cakes, Honeymoon , Florist ,etc.
                        </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="../../assets/img/services/Catering.jpg"  height="100px"   width="100px" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>MEHNDI</h4>
                      <p>We have been providing our services wherein you need not to bother upon small things.In our services 
                          we provide Catering,Phtography ,Tent House , Nigth DJ, Pandit ,Wedding Cakes, Honeymoon , Florist ,etc.
                        </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="../../assets/img/services/mehndi.jpg" height="100px"  width="100px" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>WEDDING DJ</h4>
                      <p>We have been providing our services wherein you need not to bother upon small things.In our services 
                          we provide Catering,Phtography ,Tent House , Nigth DJ, Pandit ,Wedding Cakes, Honeymoon , Florist ,etc.
                        </p></div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="../../assets/img/services/dhol.jpg" height="100px" width="100px" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-service" data-slide-to="1"></li>
              <li data-target="#carousel-service" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>