<section id="team" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Venues</h2>
            <div class="heading-line"></div>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3">
          <div class="box-team wow bounceInUp" data-wow-delay="0.1s">
            <img src="../../assets/img/venues/tent.jpg" alt="" class="img-circle img-responsive" />
            <h4>TENT HOUSE</h4>
            <p>Art Director</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInUp">
            <img src="../../assets/img/venues/royal.jpg" alt="" class="img-circle img-responsive" />
            <h4>ROYAL HOTEL</h4>
            <p>Web Designer</p>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3" data-wow-delay="0.5s">
          <div class="box-team wow bounceInUp">
            <img src="../../assets/img/venues/destination.jpg" alt="" class="img-circle img-responsive" />
            <h4>DESTINATION WEDDING</h4>
            <p>Illustrator</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-6 col-lg-3" data-wow-delay="0.7s">
          <div class="box-team wow bounceInUp">
            <img src="../../assets/img/venues/farmhouse.jpg" alt="" class="img-circle img-responsive" />
            <h4>FARMHOUSE</h4>
            <p>Typographer</p>
          </div>
        </div>
      </div>
    </div>
  </section>