.comboo{margin: 0 auto;
    width: 56%;
    
    padding: 18px 0px 7px 20px;

    margin-bottom: 20px;
    line-height: 49px;
    font-size: 15px;}
.combo{width:100%;}
.combo .first{float:left; width:35%;}
.combo .seco{float:left;}

@media only screen and (max-width: 360px){

.comboo {
  margin: 0 auto;
width: 98%;

padding: 18px 0px 7px 6px;

margin-bottom: 20px;
line-height: 37px;
font-size: 14px;
}
.combo .first {
    float: left;
    width: 45%;
}
.combo .seco {
    float: left;
    width: 50%;
}		
	
	}