<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a className="navbar-brand" href="index.html">MADE FOR EACH OTHER</a>

    </div> -->
    <!-- <span class="logo">
      
      </span> -->
    <!-- <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/about']" >About</a></li>
          <li><a [routerLink]="['/services']">Service</a></li>
           <li><a [routerLink]="['/work']" >Works</a></li>
           <li><a [routerLink]="['/venues']" >Venues</a></li>
          <li><a [routerLink]="['/form']">Form</a></li>
          <li><a [routerLink]="['/view']">View</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
    <!-- </div>
  </div>
</nav> -->
  <nav className="navbar navbar-default" role="navigation">
      <div className="container">
        <div className="navbar-header">
          <!-- <button type="button" className="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span className="sr-only">Toggle nav</span>
            <span className="icon-bar"></span>
            <span className="icon-bar"></span>
            <span className="icon-bar"></span>
          </button>  -->
  
          <!-- Logo text or image -->
           <a class="navbar-brand" [routerLink]="['/']" >MADE FOR EACH OTHER</a>
  
        </div>
        <div class="navigation collapse navbar-collapse navbar-ex1-collapse" id="div_top_hypers">
          <ul type="none" class="nav navbar-nav"id="ul_top_hypers">
            <li class="current  a_top_hypers"><a [routerLink]="['/']">Home</a></li>
            <li class="current a_top_hypers"><a [routerLink]="['/about']">About</a></li>
            <li class="current a_top_hypers"><a [routerLink]="['/services']">Service</a></li>
            <li class="current a_top_hypers"><a [routerLink]="['/works']">Works</a></li>
            <li class="current a_top_hypers"><a [routerLink]="['/venues']">Venues</a></li>
            <li class="current a_top_hypers"><a [routerLink]="['/contacts']">Contact</a></li>
            <li class="current  a_top_hypers"><a [routerLink]="['/login']">login</a></li>
            <!-- <li><a href="../../assets/login_form/index.html">Login/Register</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
   