<section id="about" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>About us</h2>
            <div class="heading-line"></div>
            <p>We provides an easy way to plan their special events with an experience of 2 year</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-md-6 about-img">
          <img src="../../assets/img/wedding themes/11.jpg" alt="">
        </div>

        <div class="col-md-6 content">
          <h2>"Where there is love there is life"</h2>
          <h3>When you start for planning for your wedding there are a lot of things to arrange so to help you we are here providing our best services</h3>
          <p>
              You can add all the details of the event and can get the service. 
              You can select the type of event, type of food to be served, type of decoration and estimated budget.
               All the details given by you will be verified by us. We will add all the details of the planner 
               based on your requirement and send the your's event details to the planner. 
               The planner will verify and send his response with a confirmation mail.
               Further you needs to complete the payment process to confirm your order.
          </p>
        </div>
      </div>
    </div>
  </section>
<!-- <section id="about" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>About us</h2>
            <div class="heading-line"></div>
            <p>We provides an easy way to plan their special events with an experience of 2 year</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-md-6 about-img">
          <img src="../../assets/img/wedding themes/11.jpg" alt="">
        </div>

        <div class="col-md-6 content">
          <h2>"Where there is love there is life"</h2>
          <h3>When you start for planning for your wedding there are a lot of things to arrange so to help you we are here providing our best services</h3>
          <p>
              You can add all the details of the event and can get the service. 
              You can select the type of event, type of food to be served, type of decoration and estimated budget.
               All the details given by you will be verified by us. We will add all the details of the planner 
               based on your requirement and send the your's event details to the planner. 
               The planner will verify and send his response with a confirmation mail.
               Further you needs to complete the payment process to confirm your order.
          </p>
        </div>
      </div>
    </div>
  </section> -->